gitbucket.war.md5
/.project
.DS_Store
tmp/
gist/
/plugins/.installed
/plugins/.repository
/plugins/gitbucket-notifications*
/plugins/gitbucket-pages*
/plugins/gitbucket-gist*
/plugins/gitbucket-emoji*
data.mv.*
database.conf
